@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">User Profile</h1>
    @if (Model.UserProfile != null)
    {
        <div class="card m-3">
            <div class="card-body">
                <h5 class="card-title">@Model.UserProfile.DisplayName</h5>
                <p class="card-text">
                    <strong>Email:</strong> @Model.UserProfile.Mail<br />
                    <strong>User Principal Name:</strong> @Model.UserProfile.UserPrincipalName<br />
                    <strong>ID:</strong> @Model.UserProfile.Id
                </p>
            </div>
        </div>
    }

    <h2 class="mt-4">Request Headers</h2>
    <div>
        <p>
            <b>X-MS-CLIENT-PRINCIPAL-NAME:</b><br />
            @Request.Headers["X-MS-CLIENT-PRINCIPAL-NAME"]
        </p>
        <p>
            <b>X-MS-CLIENT-PRINCIPAL-ID:</b><br />
            @Request.Headers["X-MS-CLIENT-PRINCIPAL-ID"]
        </p>
        <p>
            <b>X-MS-TOKEN-AAD-REFRESH-TOKEN:</b><br />
            @Request.Headers["X-MS-TOKEN-AAD-ID-TOKEN"]
        </p>
        <p>
            <b>X-MS-TOKEN-AAD-ACCESS-TOKEN:</b><br />
            @Request.Headers["X-MS-TOKEN-AAD-ACCESS-TOKEN"]
        </p>

        <p>
            <b>X-MS-TOKEN-AAD-EXPIRES-ON:</b><br />
            @Request.Headers["X-MS-TOKEN-AAD-EXPIRES-ON"]
        </p>

        <p>
            <b>X-MS-TOKEN-AAD-REFRESH-TOKEN:</b><br />
            @Request.Headers["X-MS-TOKEN-AAD-REFRESH-TOKEN"]
        </p>
    </div>
</div>
